.notifications_container {
  max-width: 100%;
  height: auto;
  // margin-top: 5rem;
  padding: 1rem 3rem;
  .send_notification_container {
    width: 100%;
  }
  .btn_container {
    max-width: 80%;
    margin: 4rem auto;
  }
  .bottom_bar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      margin: 0;
    }
    .btns_container{
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        margin-right: 1rem;
      }
    }
  }
}