.creatorsettings_container {
  max-width: 80%;
  height: auto;
  padding: 1rem;
  .creator_settings_inn_container {
    width: 100%;
  }
  .btn_container {
    max-width: 80%;
    margin: 2rem auto;
  }
}